* {
    box-sizing: border-box;
    }
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    
    body {
    line-height: 1;
    background-color: var(--sec-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-color);
    
    line-height: 1.5;
    }
    
    ol, ul {
    list-style: none;
    }
    
    blockquote, q {
    quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
    a {
    color:inherit;
    text-decoration: none;
    }
    
    img {
    width: 100%;
    display: inline-block;
    }
    
    /* END RESET*/




  /* FUENTES TIPOGRÁFICAS */

    /* Importa ambas tipografías desde Google Fonts en una sola URL */

    /* Fuente Outfit */
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;500;600;800;900&display=swap');





  /* VARIABLES */

  :root {

    /* Colores */
    --color-black: #0b0b0b;
    --color-white:  #FFFFFF; 
    --color-orange:  #FE7122;

    /* Fuentes */                 
    --font-family-h1: 'Outfit', sans-serif;
    --font-family-h2: 'Outfit', sans-serif;
    --font-family-h3: 'Outfit', sans-serif;
    --font-family-h4: 'Outfit', sans-serif;
    --font-family-p: 'Outfit', sans-serif;


    /* Tamaños fuentes */
    --h1-font-size: 112px;
    --h2-font-size: 94px;
    --h3-font-size: 60px;
    --h4-font-size: 35px;
    --p-font-size: 20px;
    --nav-font-size: 25.8px;
    --btn-font-size: 20px;

    /* Grosor de la fuente */
    --h1-font-weight: 800;
    --h2-font-weight: 600;
    --h3-font-weight: 600;
    --h4-font-weight: 500;
    --p-font-weight: 300;


    /* Estilos para botones */
    --btn-font-family: 'Outfit', sans-serif;
    --btn-border-radius: 2rem;
    --btn-padding: 1.1rem 2rem;
    --btn-padding-hover: 1.3rem 2.5rem;
    --btn-font-weight: 300;
    --btn-border: 1px solid #000000;
    --btn-background-white: #FFFFFF; 
    --btn-background-black: #000000;
    --btn-background-orange: #FE7122;
    --btn-text-decoration: none;
    --btn-transition: .2s;

    /* Estilos para párrafos */
    --p-color-white: var(--color-white);
    --p-color-black: var(--color-black);
    --p-color-violet: var(--color-orange);

    /* Estilos para barra de navegación */
    --nav-font-size: 25.8px;
    --nav-font-family: 'Outfit', sans-serif;
    --nav-color: var(--color-white);

    /* Responsive */
    --container-padding: 10rem;
    --mobile-font-size-h1: 40px; 
    --mobile-font-size-h2: 35px; 
    --mobile-font-size-h3: 30px; 
    --mobile-font-size-h4: 25px; 

    --tablet-font-size-h1: 60px; 
    --tablet-font-size-h2: 50px; 
    --tablet-font-size-h3: 40px; 
    --tablet-font-size-h4: 30px; 

  }

/* Estilos generales que queremos que se apliquen por defecto en la web y evitarnos repetirlos muchas veces */

body {
    background-color: var(--color-white);
    color: var(--color-white);
    background-color: var(--color-black);
}

h1 {
    font-family: var(--font-family-h1);
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
}

h2 {
    font-family: var(--font-family-h2);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

h3 {
    font-family: var(--font-family-h3);
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
}

h4 {
    font-family: var(--font-family-h4);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
}

p {
    font-family: var(--font-family-p);
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
}

a {
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    font-family: var(--btn-font-family);
    padding: var(--btn-padding);
    border-radius: var(--btn-border-radius); 
    color: var(--color-white);
    text-decoration: none;
    transition: var(--btn-transition);
    font-weight: var(--btn-font-weight);
}





/* EMPEZAMOS CON LOS BLOQUES DE LA WEB */

/*                   Página HOME                         */


/* Barra de navegación */

.nav-bar {  
    min-width: 100vw;
    padding: 1.8rem;
        
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: var(--color-black);
    
    z-index: 1000; /* Ponemos un nº alto para indicar la posición del eje z y que siempre quede por encima la barra de navegación */
    position: fixed; /* Para que la barra de navegación se queda fija cuando hacemos scroll*/
    top: 0;          /* Posicionamos en la parte superior la navbar */
}
    
.nav-bar .bar_btn {   /* Botón largo */
    margin-right: 2rem;
}

.nav-bar .nav-bar_links .a-nav:hover {
    color:  var(--color-orange);
}


.nav-bar .bar_btn { /* Hover botón menú desplegable */
    border: 1px solid var(--color-orange);
    padding: var(--btn-padding);
    color: var(--color-white);
}
.nav-bar .bar_btn:hover { /* Hover botón menú desplegable */
    background-color: var(--color-orange);
    color: var(--color-black);
}

.nav-bar .nav-bar_links .menu_btn { /* Botón menú desplegable */
    display: none;
}



  /* VERSIÓN MÓVIL   */

  @media (min-width:250px) and (max-width: 1219px) {
 
    .nav-bar {  
        min-width: 100vw;
        padding: 1.8rem;
            
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    
        background-color: var(--color-black);
        
        z-index: 1000; /* Ponemos un nº alto para indicar la posición del eje z y que siempre quede por encima la barra de navegación */
        position: fixed; /* Para que la barra de navegación se queda fija cuando hacemos scroll*/
        top: 0;          /* Posicionamos en la parte superior la navbar */
    }
        
    .nav-bar .nav-bar_links .none {
        display: none;
    }
    
    .nav-bar .bar_btn {   /* Botón largo */
        margin-right: 0rem;
    }


    .nav-bar .nav-bar_links .menu_btn { /* Botón menú desplegable */
        display: inline; /* Poner el contrario de display: none; */
        margin-right: 0;
        padding: 0.5rem;
    }
  }



/* Texto principal del Inicio/Home (lo 1º que vemos) */

.home-main-text {
    max-width: 90vw;
    text-align: start;
    padding: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

.home-main-text .home-main-text_titulo h1 {
    line-height: 7rem;
    color: var(--color-orange);
    font-size: 100px;
}

.home-main-text .home-main-text_titulo h4 {
    font-size: 30px;
    font-weight: 300;
}


  /* VERSIÓN MÓVIL */

  @media (min-width:200px) and (max-width: 800px) {

    .home-main-text {
        padding: 8rem 5rem;
    }
    
    .home-main-text .home-main-text_titulo h1 {
        font-size: var(--mobile-font-size-h1);
        line-height: 4rem;
    }

    .home-main-text .home-main-text_titulo h4 {
        font-size: var(--mobile-font-size-h4);
    }
  }

    /* VERSIÓN TABLET */

  @media (min-width: 800px) and (max-width: 1450px) {

    .home-main-text {
        padding: 10rem 6rem;
    }

    .home-main-text .home-main-text_titulo h1 {
        font-size: var(--tablet-font-size-h1);
        line-height: 6rem;
    }

  }


  /* Carrousel marcas - Home */

.container-marcas {
    max-width: 100vw;
    height: 18vh;
    position: relative;
    overflow: hidden;
}

.marcas {
    margin-top: 1.5rem;
    width: 130px;
    height: 130px;
    position: absolute;
    animation: moveRightToLeft 16s linear infinite;
}

.marcas:nth-child(2) {
    margin-left: 20rem; /* Ajusta la distancia entre los elementos */
}

.marcas:nth-child(3) {
    margin-left: 40rem;
}

.marcas:nth-child(4) {
    margin-left: 60rem; 
}

.marcas:nth-child(5) {
    margin-left: 80rem; 
}

.marcas:nth-child(6) {
    margin-left: 100rem; 
}

.marcas:nth-child(7) {
    margin-left: 120rem; 
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-1700px);
    }
}

/* VERSIÓN MÓVIL */

@media (min-width:200px) and (max-width: 1219px) {

    .marcas:nth-child(2) {
        margin-left: 10rem; /* Ajusta la distancia entre los elementos */
    }

    .marcas:nth-child(3) {
        margin-left: 20rem;
    }
    .marcas:nth-child(4) {
        margin-left: 30rem; 
    }
    .marcas:nth-child(5) {
        margin-left: 40rem; 
    }
    .marcas:nth-child(6) {
        margin-left: 50rem; 
    }
    .marcas:nth-child(7) {
        margin-left: 6rem; 
    }

    @keyframes moveRightToLeft {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(-230vw);
        }
    } 
}


/* Carrousel de proyectos - Home */

/* Carrousel */
.container-carousel-home-1 {
    max-width: 100vw;
    width: 100%;
    overflow-x: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}
  
.container-inner {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
  
.container-inner_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem;
    min-width: 25%;
}

.container-carousel-home-1 .container-inner_img img {
    width: 100%;
}

.container-carousel-home-1 .container-inner_img img:hover {
    border-radius: 20rem 10rem 20rem 10rem;
    transition: 0.4s;
}
  
/* Botón separado del carousel */
.container-inner2{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-inner2 .container-inner_btn a {
    border: 1px solid var(--color-orange);
}

.container-inner2 .container-inner_btn a:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
    padding: var(--btn-padding-hover);
}

  
/* VERSIÓN MÓVIL */
  
@media (min-width:200px) and (max-width:1024px) {

    .container-inner_img p {
        width: 90%;
    }

    .container-carousel-home-1 {
        margin-top: 6rem;
    }

    .container-inner_img {
        min-width: 50%;
    }
    .container-inner2{
        padding: 3rem;
        margin-bottom: 2rem;
    }
    .container-inner_img {
        margin: 0rem 0.5rem;
    }
}



  /* Texto alineado a la derecha - Home */

.home-text-right {
    max-width: 100vw;
    text-align: start;

    display: flex;
    flex-direction: wrap;
    padding: 5rem;
    margin: 8rem 0 0 25rem;
}


  /* VERSIÓN MÓVIL */

  @media (min-width:200px) and (max-width:1024px) {

    .home-text-right {
        text-align: start;
        margin: 1rem;
    }
    .home-text-right h4{
        font-size: var(--mobile-font-size-h4);
    }
}



  /* Servicios Home - Cards */

  .container-services-home {
    max-width: 100vw;
  }

  .services-home_text {
    margin: 5rem;
  }

  .container-services-home_text h3 {
    margin-top: 4rem;
    color: var(--color-white);
  }

  .container-services-home_text {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    font-size: var(--h4-font-size);
    margin-bottom: 3rem;
  }

  .container-services-home_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
  }

  .services-home_cards {
    border: 2px solid var(--color-orange);
    height: 450px;
    border-radius: 50px;
    color: var(--color-orange);
    padding: 1rem;
  }
  .services-home_cards:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
    transition: 0.3s;
  }
  
  .container-services-home_cards h4 {
    margin: 3rem 2rem;
  }

  .container-services-home_cards p {
    margin: 2rem;
  }


    /* VERSIÓN MÓVIL y TABLET */ 

    @media (min-width:200px) and (max-width:1100px) {

        .container-services-home {
            max-width: 90vw;
            margin: 1rem;
          }

        .services-home_text {
            margin: 5rem 2rem;
            text-align: center;
        }
    }    





  /* VERSIÓN MÓVIL */

  @media (min-width:200px) and (max-width:1024px) {

    .home-text-center {
        margin: 10rem 3rem 10rem 3rem;
    }
    .home-text-center h2 {
        font-size: var(--h3-font-size);
    }
}



/* GRID Galería de imágenes - final HOME */

                  /* HACER GRID GALERÍA DE IMÁGENES + RESPONSIVE */
.container-galery {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
}

.container-galery_imgs {
    margin: 10rem;
}

.container-galery_imgs img{
    width: 25%;
}

  
/* VERSIÓN MÓVIL */


  @media (min-width:200px) and (max-width:1024px) {

    .container-galery {
        max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        grid-auto-flow: dense;
        gap: 1rem;
    }
    
    .container-galery_imgs {
        margin: 2rem;
    }
    
    .container-galery_imgs img{
        width: 40%;
    }
}


  /* Información 4 secciones final HOME */


.container-info-home {
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.container-info-home_blocks_column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

.info-home_block {
    border-radius: 50px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.info-home_block:hover {
    border: 2px solid var(--color-orange);
}

.container-info-home_blocks_column .info-home_block p {
    color: var(--color-orange);
}
.container-info-home_blocks_column .info-home_block .bold {
    font-weight: 500;
}


/* VERSIÓN MÓVIL */

@media (min-width:200px) and (max-width:1024px) {

    .container-info-home {
        grid-template-columns: 1fr;
        margin-top: 5rem;
    }

    .container-info-home .container-info-home_blocks_row {
        margin: 2rem 1rem;
    }
}







/*          Página Proyectos       */

/* Texto principal página Proyectos */

.container-projects-main {
    max-width: 100vw;
    text-align: start;
    margin: 15rem 30rem 10rem 8rem;
}

.container-projects-main .container-projects-main_title h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 7rem;
    color: var(--color-orange);
    font-size: 100px;
}


  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 1219px) {
    
    .container-projects-main {
        text-align: start;
        padding: 1rem;
        margin: 10rem 2rem;
    }

    .container-projects-main .container-projects-main_title h1 {
        font-size: 40px;
        line-height: 3rem;
        text-align: start;

        display: flex;
        flex-direction: row;
        justify-content: start;
        color: var(--color-orange);
    } 

    .container-projects-main .container-projects-main_title h4 {
        font-size: 20px;
    } 
  }



  /* VÍDEO */

.container-video-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width:250px) and (max-width: 1219px) {
    .container-video-projects {
        display: none;
    }
}



  /* Galería de proyectos realizados por la agencia */

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-projects .projects-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.container-projects .projects-row img {
    width: 100%;
    margin: 2rem 0;
}


@media (min-width:250px) and (max-width: 1219px) {
    .container-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .container-projects .projects-row {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    
    .container-projects .projects-row img {
        width: 60%;
        margin: 2rem;
    }
}









/*          Página Nosotros       */



/* Texto principal del Inicio/Home (lo 1º que vemos) */

.nosotros-main-text {
    max-width: 100vw;
    text-align: start;
    margin: 15rem 30rem 20rem 8rem;
}

.nosotros-main-text .nosotros-main-text_titulo h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 7rem;
    color: var(--color-orange);
    font-size: 100px;
}


  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 1219px) {
    
    .nosotros-main-text {
        text-align: start;
        padding: 1rem;
        margin: 10rem 2rem;
    }

    .nosotros-main-text .nosotros-main-text_titulo h1 {
        font-size: 40px;
        line-height: 3rem;
        text-align: start;

        display: flex;
        flex-direction: row;
        justify-content: start;
        color: var(--color-orange);
    } 
  }


/* Presentación EQUIPO */

.equipo-container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

.department-section {
    height: 60vh;
    width: 100%;
    position: relative;
    border-top: 2px solid var(--color-orange);
    background-color: var(--color-black);
    overflow: hidden;
    transition: 0.5s;
}

.equipo-container .department-section .department-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.text-content h2,
.text-content p,
.text-content h3 {
    margin: 0;
    margin-bottom: 10px;
    color: var(--color-orange);
}

.text-content p {
    margin-bottom: 10rem;
}
.text-content h4 {
    font-size: 20px;
    font-weight: 200;
}

.text-content h3 {
    font-size: 50px;
}

.image-content img {
    width: 40%;
    padding: 1rem;
}

.department-section.recopilado {
    height: 50px; 
}

  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 1219px) {

    .equipo-container {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }
    
    .department-section {
        height: 70vh;
    }
    
    .equipo-container .department-section .department-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1rem;
    }
    
    .text-content h2,
    .text-content p,
    .text-content h3 {
        margin: 0;
        margin-bottom: 10px;
        color: var(--color-orange);
    }
    
    .text-content p {
        margin-bottom: 4rem;
    }
    .text-content h4 {
        font-size: 20px;
        font-weight: 200;
    }
    
    .text-content h3 {
        font-size: 50px;
    }
    
    .image-content img {
        width: 100%;
        padding: 1rem;
        margin: 4rem 0 2rem 0;
    }
    
  }
