* {
    box-sizing: border-box;
    }
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    
    body {
    line-height: 1;
    background-color: var(--sec-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-color);
    
    line-height: 1.5;
    }
    
    ol, ul {
    list-style: none;
    }
    
    blockquote, q {
    quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
    a {
    color:inherit;
    text-decoration: none;
    }
    
    img {
    width: 100%;
    display: inline-block;
    }
    
    /* END RESET*/




  /* FUENTES TIPOGRÁFICAS */

    /* Font "Anton" = Para títulos/subtítulos / Font "Space Grotesk" = Para párrafos */

    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Space+Grotesk:wght@300;400;500;600&display=swap');
    

  /* VARIABLES */

  :root {

    /* Colores */
    --color-black: #0b0b0b;
    --color-white:  #FFFFFF; 
    --color-orange:  #FE7122;

    /* Fuentes */                 
    --font-family-h1: 'Anton', sans-serif;
    --font-family-h2: 'Anton', sans-serif;
    --font-family-h3: 'Anton', sans-serif;
    --font-family-h4: 'Space Grotesk', sans-serif;
    --font-family-p:'Space Grotesk', sans-serif;
    --font-family-btn: 'Space Grotesk', sans-serif;
    --font-family-nav: 'Space Grotesk', sans-serif;

    /* Tamaños fuentes */
    --h1-font-size: 112px;
    --h2-font-size: 94px;
    --h3-font-size: 60px;
    --h4-font-size: 35px;
    --p-font-size: 20px;
    --nav-font-size: 25.8px;
    --btn-font-size: 20px;

    /* Grosor de la fuente */
    --p-font-weight: 300;

    /* Estilos para botones */
    --btn-border-radius: 2rem;
    --btn-padding: 1rem 2rem;
    --btn-padding-hover: 1.3rem 2.5rem;
    --btn-font-weight: 300;
    --btn-border: 1px solid #000000;
    --btn-background-white: #FFFFFF; 
    --btn-background-black: #000000;
    --btn-background-orange: #FE7122;
    --btn-text-decoration: none;
    --btn-transition: .2s;

    /* Estilos para párrafos */
    --p-color-white: var(--color-white);
    --p-color-black: var(--color-black);
    --p-color-violet: var(--color-orange);

    /* Estilos para barra de navegación */
    --nav-font-size: 25.8px;
    --nav-color: var(--color-white);

    /* Responsive */
    --container-padding: 10rem;
    --mobile-font-size-h1: 65px; 
    --mobile-font-size-h2: 55px; 
    --mobile-font-size-h3: 40px; 
    --mobile-font-size-h4: 35px; 

    --tablet-font-size-h1: 80px; 
    --tablet-font-size-h2: 70px; 
    --tablet-font-size-h3: 50px; 
    --tablet-font-size-h4: 35px; 
  }

/* Estilos generales que queremos que se apliquen por defecto en la web y evitarnos repetirlos muchas veces */

body {
    background-color: var(--color-black);
    /*cursor: url('../assets/img/cursor.svg'), auto; 
                                /*Aparecerá un icono como cursor. 
                                PROBLEMA! Cuando paso por una img o link no aparece */
}


h1 {
    font-family: var(--font-family-h1);
    font-size: var(--h1-font-size);
}

h2 {
    font-family: var(--font-family-h2);
    font-size: var(--h2-font-size);
}

h3 {
    font-family: var(--font-family-h3);
    font-size: var(--h3-font-size);
}

h4 {
    font-family: var(--font-family-h4);
    font-size: var(--h4-font-size);
}

p {
    font-family: var(--font-family-p);
    font-size: var(--p-font-size);
}

a {
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    border-radius: var(--btn-border-radius); 
    text-decoration: none;
    transition: var(--btn-transition);
    font-family: var(--font-family-btn);
}



/* EMPEZAMOS CON LOS BLOQUES DE LA WEB */

/*                   Página HOME                         */

    /* Barra de navegación / NAVBAR */

    header {
      min-width: 100vw;
      height: 10vh;
      padding: 1rem 3rem;
      margin: auto;
  
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--color-black);
  
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      z-index: 100; /* Ponemos un nº alto para indicar la posición del eje z y que siempre quede por encima la barra de navegación */
  }
  
  .logo {
      position: relative;
      width: 30%;
  }
  
  .navbar {
      position: relative;
  }
  
  .navbar a {
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
      margin: 1rem 2rem; 
      transition: .3s;
  }
  
  .navbar a:hover{
      color: var(--color-orange);
  }
  
  .navbar a.contacto {
      border: 1px solid var(--color-orange);
      padding: var(--btn-padding);
  }
  
  .navbar a.contacto:hover {
      border: 1px solid var(--color-orange);
      background-color: var(--color-orange);
      color: var(--color-black);
  }

  .navbar .inicio {
    display: none;
  }
  
  #menu-icon {
      position: relative;
      font-size: 4rem;
      cursor: pointer;
      display: none;

  }
  
  @keyframes showRight {
      100% {
          width: 0;
      }
  }
  
  /* VERSIÓN MÓVIL Y TABLET */
  @media (min-width:200px) and (max-width:1300px) {
  
      header {
          min-width: 100vw;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          
          padding: 1rem 3rem;
          margin: auto; 
      }
      
      #menu-icon {
          display: flex;
      }
      #menu-icon .icon {
        width: 50px;
        height: 50px;
    }
  
      .navbar {
          width: 100vw;
          height: 100vh;
          position: absolute;
          overflow: hidden;
          top: 100px;
          left: -100%;
          background-color: var(--color-black);
          transition: 0.3s ease-in-out;
      }
  
      .navbar.active {
          transition-delay: 0;
          left: 0;
      }

      .logo {
        position: relative;
        width: 110px;
      }
    
      .navbar a {
          overflow: hidden;
          display: block;
          font-size: 2em;
          margin: 0;
          color: var(--color-white);
          padding: var(--btn-padding);
  
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  
      .navbar a:hover {
          color: var(--color-orange);
      }
  
      .navbar a.contacto {
          border: none;
      }
      
      .navbar a.contacto:hover {
          border: none;
          background-color: transparent;
          color: var(--color-orange);
      }
      
      .navbar .inicio {
        display: flex;
      }
      
  }
  
    /* VERSIÓN TABLET (AJUSTE ALGÚN ESTILO) */
  @media (min-width:700px) and (max-width:1300px) {
  
    header {
      min-width: 100vw;
      height: 13vh;
    }

      #menu-icon .icon {
          width: 60px;
          height: 60px;
      }

      .navbar a {
        font-size: 3em;
        margin: 3rem; 
        transition: .3s;
    }
    .logo {
      position: relative;
      width: 150px;
    }
  }



/* Texto principal del Inicio/Home (lo 1º que vemos) */

.home-main-text {
    max-width: 90vw;
    text-align: start;
    padding: 10rem;
    margin: 5rem 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

.home-main-text .home-main-text_titulo h1 {
    line-height: 7rem;
    color: var(--color-orange);
    font-size: 100px;
}

.home-main-text .home-main-text_titulo h4 {
    font-size: 30px;
    font-weight: 300;
    color: var(--color-white);
}


  /* VERSIÓN MÓVIL */

  @media (min-width:200px) and (max-width: 900px) {

    .home-main-text {
        padding: 10rem 0.2rem 8rem 3rem;
        margin: 0;
    }
    
    .home-main-text .home-main-text_titulo h1 {
        font-size: 45px;
        line-height: 3.8rem;
    }

    .home-main-text .home-main-text_titulo h4 {
        font-size: 25px;
    }
  }

    /* VERSIÓN TABLET */

  @media (min-width: 900px) and (max-width: 1450px) {

    .home-main-text {
        padding: 8rem 6rem;
    }

    .home-main-text .home-main-text_titulo h1 {
        font-size: 60px;
        line-height: 6rem;
    }
    .home-main-text .home-main-text_titulo h4 {
      font-size: var(--tablet-font-size-h4);
    }
  }

 

  /* CONTAINER MARCAS  */

  .container-marcas {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .container-marcas img {
    margin: 0 6rem 0 0;
    width: 10%;
  }




  /*
  .carousel-container {
    width: 100%;
    overflow: hidden;
}

  .carousel {
      display: flex;
      animation: scroll 10s linear infinite;
  }

  .carousel-item {
      min-width: 100%;
      text-align: center;
      padding: 1rem;
      border: 1px solid var(--color-orange);
      color: var(--color-orange);
  }


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

*/







  /* Carrousel marcas - Home 

.container-marcas {
    max-width: 100vw;
    height: 18vh;
    position: relative;
    overflow: hidden;
}

.marcas {
    margin-top: 1.5rem;
    width: 130px;
    height: 130px;
    position: absolute;
    animation: moveRightToLeft 16s linear infinite;
}

.marcas:nth-child(2) {
    margin-left: 20rem; 
}

.marcas:nth-child(3) {
    margin-left: 40rem;
}

.marcas:nth-child(4) {
    margin-left: 60rem; 
}

.marcas:nth-child(5) {
    margin-left: 80rem; 
}

.marcas:nth-child(6) {
    margin-left: 100rem; 
}

.marcas:nth-child(7) {
    margin-left: 120rem; 
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-1700px);
    }
}

*/


/* VERSIÓN MÓVIL 
@media (min-width:200px) and (max-width: 1219px) {

    .marcas:nth-child(2) {
        margin-left: 10rem;
    }

    .marcas:nth-child(3) {
        margin-left: 20rem;
    }
    .marcas:nth-child(4) {
        margin-left: 30rem; 
    }
    .marcas:nth-child(5) {
        margin-left: 40rem; 
    }
    .marcas:nth-child(6) {
        margin-left: 50rem; 
    }
    .marcas:nth-child(7) {
        margin-left: 6rem; 
    }

    @keyframes moveRightToLeft {
        0% {
            transform: translateX(100vw);
        }
        100% {
            transform: translateX(-230vw);
        }
    } 
}

*/



/* Carrousel de proyectos - Home */

/* Carrousel */
.container-carousel-home-1 {
    max-width: 100vw;
    width: 100%;
    overflow-x: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}
  
.container-inner {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}
  
.container-inner_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 25%;
}

.container-carousel-home-1 .container-inner_img img {
    width: 100%;
    transition: 0.3s ease-in-out;
}

.container-carousel-home-1 .container-inner_img img:hover {
    border-radius: 20rem 10rem 20rem 10rem;
}
  
/* Botón separado del carousel */
.container-inner2{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-inner2 .container-inner_btn a {
    border: 1px solid var(--color-orange);
    padding: var(--btn-padding);
    color: var(--color-white);
    transition: 0.3s ease-in-out;
}

.container-inner2 .container-inner_btn a:hover {
    background-color: var(--color-orange);
    color: var(--color-black);
    padding: var(--btn-padding-hover);
}

  
/* VERSIÓN MÓVIL */
  
@media (min-width:200px) and (max-width:1024px) {

    .container-inner_img p {
        width: 100%;
    }

    .container-carousel-home-1 {
        margin-top: 6rem;
    }

    .container-inner_img {
        min-width: 50%;
    }
    .container-inner2{
        padding: 3rem;
        margin-bottom: 2rem;
    }
}



  /* Texto alineado a la derecha - Home */

.home-text-right {
    max-width: 100vw;
    text-align: start;

    display: flex;
    flex-direction: wrap;
    padding: 5rem;
    margin: 8rem 0 0 25rem;
    color: var(--color-orange);
}

  /* VERSIÓN MÓVIL */

  @media (min-width:200px) and (max-width:800px) {

    .home-text-right {
        text-align: start;
        padding: 2rem;
        margin: 1rem;
    }
    .home-text-right h4{
        font-size: 25px;
    }
}

@media (min-width:800px) and (max-width:1100px) {

  .home-text-right {
      text-align: start;
      padding: 2rem;
      margin: 1rem;
  }
  .home-text-right h4{
      font-size: var(--tablet-font-size-h4);
      padding: 3rem;
  }
}



  /* Servicios Home - Cards */

  .container-services-home {
    max-width: 100vw;
  }

  .services-home_text {
    margin: 5rem;
  }

  .container-services-home_text h3 {
    margin-top: 4rem;
    color: var(--color-white);
  }

  .container-services-home_text {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    font-size: var(--h4-font-size);
    margin-bottom: 3rem;
  }

  .container-services-home_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-auto-flow: dense;
    gap: 1rem;
  }

  .services-home_cards {
    border: 2px solid var(--color-orange);
    height: 450px;
    border-radius: 50px;
    color: var(--color-orange);
    padding: 1rem;
    transition: 0.3s ease-in-out;
  }
  .services-home_cards:hover {
    background-color: var(--color-orange);
    color: var(--color-black);

    transform: scale(1.15);
    transition: transform 0.5s ease-in-out;
  }
  
  .container-services-home_cards h4 {
    margin: 3rem 2rem;
  }

  .container-services-home_cards p {
    margin: 2rem;
  }


    /* VERSIÓN MÓVIL y TABLET */ 

    @media (min-width:200px) and (max-width:700px) {

        .container-services-home {
            max-width: 90vw;
            margin: 1rem;
          }

        .services-home_text {
            margin: 5rem 2rem;
            text-align: center;
        }

        .container-services-home_text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .container-services-home_text h3 {
          margin-top: 4rem;
          font-size: var(--mobile-font-size-h3);
        }
      
    }    

    /* VERSIÓN TABLET */

    @media (min-width:700px) and (max-width:1024px) {

        .home-text-center {
            margin: 10rem 3rem 10rem 3rem;
        }
        .home-text-center h2 {
            font-size: var(--tablet-font-size-h2);
        }

        .container-services-home_text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .container-services-home_text h3 {
          margin-top: 4rem;
          font-size: 60px;
        }

        .services-home_cards {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
    }



/* GRID Galería de imágenes - final HOME */

.container-gallery {
    max-width: 90vw;
    margin: 5rem auto;
    padding: 3rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.item {
    padding:1rem;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}
/* Colocamos los items de las img en la posición de las columnas para adaptarlo a la galería */
.item:hover {
    transform: scale(1.08);
}

.item1, .item6, .item8 {
    grid-column: 1/2;
}

.item2, .item9 {
    grid-column: 2/3;
}

.item3, .item5, .item10 {
    grid-column: 3/4;
}

.item4 {
    grid-column: 1/3;
}

.item7 {
    grid-column: 2/4;
}

.item img {
  border-radius: 1rem;
}


  
/* VERSIÓN MÓVIL Y TABLET */

  @media (min-width:200px) and (max-width:1024px) {

    .container-gallery {
        max-width: 95vw;
        margin: 5rem auto;
        padding: 0.5rem;
        grid-template-columns: repeat(2, 1fr);  /* Se ha reducido a 2 columnas en vez de 3 para adaptarlo a la pantalla movil y tablet */
    }

    .item {
        padding: 0.5rem;
    }
    
    .item:hover {
        padding: 0.6rem;
        transition: 0.4s;
    }

   /* Se han eliminado las img 3 y 10 para reducir la cantidad de img y no saturar y para cuadrar mejor la galería */
    .item1, .item5, .item8 {
        grid-column: span 1;
    }
    
    .item4, .item7 {
        grid-column: span 2;
    }
    
    .item2, .item6, .item9 {
        grid-column: span 1;
    }
    
    .item3, .item10 {
        display: none;
    }
}


/* Información 4 secciones final HOME */

.container-info-home {
    max-width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.container-info-home_blocks_column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

.info-home_block {
    border-radius: 50px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    color: var(--color-white);

    position: relative; /* Para poner hacer una animación de subrayado más abajo */
}

.container-info-home_blocks_column .info-home_block p {
    color: var(--color-orange);
}
.container-info-home_blocks_column .info-home_block .bold {
    font-weight: 500;
}


        /* Estilo del subrayado */ 

        .container-info-home_blocks_column .info-home_block p.subrayado {
            position: relative;
            color: var(--color-orange); /* Color del subrayado */
            display: inline-block;
        }

        .container-info-home_blocks_column .info-home_block p.subrayado::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0; /* Ancho inicial, la línea empieza invisible */
            height: 2px; /* Altura de la línea */
            background-color: var(--color-orange); /* Color del subrayado */
            transition: width 0.3s ease-in-out; /* Transición de la anchura para que sea más suave */
            display: block;
            box-sizing: border-box;
          }
          
          /* Efecto hover para mostrar la línea */
          .container-info-home_blocks_column .info-home_block p.subrayado:hover::before {
            width: 208px; /* Mostrar la línea al 100% de ancho de la palabra, en px para que no se distorsione en distintas pantallas*/
          }


/* VERSIÓN MÓVIL */

@media (min-width:200px) and (max-width:700px) {
  .container-info-home_blocks_column .info-home_block h4 {
    font-size: 30px;
  }
  
}

@media (min-width:200px) and (max-width:1240px) {

    .container-info-home {
        grid-template-columns: 1fr;
        margin-top: 5rem;
        gap: 3rem;
    }

    .container-info-home .container-info-home_blocks_row {
        margin: 2rem 1rem;
    }
}


/* FORMULARIO HOME */

.formulario-home {
  margin: 8rem;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-orange);
}

.formulario-home_form {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;
}

.formulario-home_text p {
  margin: 1rem;
}

.formulario-home_text h3 {
  margin: 1rem;
}


.formulario-home_form a {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
  text-decoration: none;
  border-radius: var(--btn-border-radius);
  margin: 2rem 0 0 0;
  padding: 0.8rem 4rem;
  transition: all .3s ease-in-out;
}

.formulario-home_form a:hover {
  background-color: var(--btn-background-orange);
  color: var(--color-black);
}


/* VERSIÓN MÓVIL */

@media (min-width:200px) and (max-width:700px) {

.formulario-home {
  margin: 1rem;
  padding: 10rem 2rem;
}
}

@media (min-width:200px) and (max-width:1240px) {

  .formulario-home {
    margin: 3rem;
    padding: 10rem 2rem;
  }
}





/*          Página Proyectos       */

/* Texto principal página Proyectos */

.container-projects-main {
    max-width: 100vw;
    text-align: start;
    padding: 15rem 10rem;
}

.container-projects-main .container-projects-main_title h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 7rem;
    color: var(--color-orange);
    font-size: 100px;
}
.container-projects-main .container-projects-main_title h4 {
    color: var(--color-white);
}

  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 800px) {
    
    .container-projects-main {
        padding: 2rem;
        margin: 10rem 2rem 5rem;
    }

    .container-projects-main .container-projects-main_title h1 {
        font-size: 60px;
        line-height: 4.5rem;
    } 

    .container-projects-main .container-projects-main_title h4 {
        font-size: 25px;
    } 
  }

    /* VERSIÓN TABLET */

  @media (min-width:800px) and (max-width: 1319px) {
    
    .container-projects-main {
        padding: 5rem;
        margin: 10rem 2rem 5rem;
    }

    .container-projects-main .container-projects-main_title h1 {
        font-size: 80px;
        line-height: 4.5rem;
    } 

    .container-projects-main .container-projects-main_title h4 {
        font-size: 30px;
    } 
  }



/* Galería de proyectos realizados por la agencia */

.container-projects {
    max-width: 100vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-projects .projects-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.container-projects .projects-row img {
    width: 100%;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

.container-projects .projects-row img:hover {
    transform: scale(1.04);
}




@media (min-width:250px) and (max-width: 1219px) {

    .container-projects .projects-row {
        display: flex;
        flex-direction: column;
    }
    
}











/*          Página Nosotros       */



/* Texto principal del Inicio/Home (lo 1º que vemos) */

.nosotros-main-text {
    max-width: 100vw;
    text-align: start;
    padding: 15rem 10rem 12rem 10rem;
}

.nosotros-main-text .nosotros-main-text_titulo h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    line-height: 7rem;
    color: var(--color-orange);
    font-size: 100px;
}
.nosotros-main-text .nosotros-main-text_titulo h4 {
    color: var(--color-white);
    margin: 5rem 0 5rem 0;

}


  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 600px) {
    
    .nosotros-main-text {
        text-align: start;
        padding: 1rem;
        margin: 10rem 2rem 3rem 3rem;
    }

    .nosotros-main-text .nosotros-main-text_titulo h1 {
        font-size: 40px;
        line-height: 3rem;
        text-align: start;

        display: flex;
        flex-direction: row;
        justify-content: start;
        color: var(--color-orange);
    } 
  }

    /* VERSIÓN TABLET */

    @media (min-width:600px) and (max-width: 900px) {
    
      .nosotros-main-text {
        max-width: 100vw;
        text-align: start;
        padding: 10rem 5rem 5rem 5rem;
    }
    
      .nosotros-main-text .nosotros-main-text_titulo h1 {
          font-size: 50px;
          line-height: 4rem;
      } 
    }

    @media (min-width:900px) and (max-width: 1350px) {

      .nosotros-main-text {
        max-width: 100vw;
        text-align: start;
        padding: 10rem 5rem 4rem 5rem;
    }
    
      .nosotros-main-text .nosotros-main-text_titulo h1 {
          font-size: 70px;
          line-height: 6rem;
      } 
    }

/* Intro "Nosotros" */

.intro-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 5rem 8rem 10rem 8rem;
}
.intro-nosotros h3{
    color: var(--color-orange);
    text-align: center;
}
.intro-nosotros p{
    color: var(--color-white);
    font-size: var(--p-font-size);
}

  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 1219px) {
    
    .intro-nosotros {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 4rem;
  }
  .intro-nosotros h3{
      color: var(--color-orange);
      text-align: c;
      font-size: 40px;
  }
  .intro-nosotros p{
    text-align: center;
}
  }

  /* VERSIÓN TABLET */

  @media (min-width:750px) and (max-width: 1219px) {
    
    .intro-nosotros {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 2rem;
      padding: 4rem;
  }
  .intro-nosotros h3{
      color: var(--color-orange);
      text-align: c;
      font-size: 40px;
      text-align: center;
  }
  .intro-nosotros p{
    text-align: start;
  }
}


/* Presentación EQUIPO */

.equipo-container {
    max-width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: column;
    margin: 5rem;

    position: relative; /* Para poder darle el sticky a cada sección */
}

.department-section {
    height: 44vh;
    width: 100%;
    border-top: 2px solid var(--color-orange);
    background-color: var(--color-black);
    padding: 0.5rem;
}

      /* Sticky de cada sección */

    .equipo-container .primero {
      position: sticky; 
      top: 100px;
      z-index: 1;
    }

    .equipo-container .segundo {
      position: sticky; 
      top: 180px;
      z-index: 2;
    }

    .equipo-container .tercero {
      position: sticky; 
      top: 260px;
      z-index: 3;
    }

    .equipo-container .cuarto {
      position: sticky; 
      top: 340px;
      z-index: 4;
    }

    .equipo-container .quinto {
      position: sticky; 
      top: 420px;
      z-index: 5;
    }




.equipo-container .department-section .department-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.text-content,
.text-content p,
.text-content h3 {
    margin: 0 0 1rem 0;
    color: var(--color-orange);
}

.text-content h4 {
    color: var(--color-white);
}

.text-content p {
    margin: 0 0 4rem 0;
}

.text-content h4 {
    font-size: 20px;
    font-weight: 200;
    width: 40%;
}

.text-content h3 {
    font-size: 40px;
}

.image-content{
  display: flex;
  justify-content: end;
  width: 35vw;
}
.image-content img {
    width: 290px;
    padding: 1rem;
}


  /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 700px) {

    .equipo-container {
      height: 400vh;
      margin: 2rem;
  }

    .department-section {
        height: 80vh;
    }
    
    .equipo-container .department-section .department-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 1rem;
    }
    
    .text-content h2,
    .text-content p,
    .text-content h3 {
        margin: 0 0 0.8rem 0;
    }
    
    .text-content p {
        margin: 0 0 3rem 0;
    }
    .text-content h4 {
        font-size: 20px;
        font-weight: 200;
        width: 100%;
    }
    
    .text-content h3 {
        font-size: 30px;
    }
    
    .image-content img {
      display: none;
    }

          /* Sticky de cada sección */

          .equipo-container .primero {
            top: 100px;
          }
      
          .equipo-container .segundo {
            top: 170px;
          }
      
          .equipo-container .tercero {
            top: 240px;
          }
      
          .equipo-container .cuarto {
            top: 305px;
          }
      
          .equipo-container .quinto {
            top: 380px;
          }
  }

    /* VERISÓN TABLET */
    @media (min-width:700px) and (max-width: 1100px) {

    .equipo-container {
      height: 400vh;
      margin: 2rem;
  }

    .department-section {
        height: 80vh;
    }
    
    .text-content h2,
    .text-content p,
    .text-content h3 {
        margin: 0 0 0.8rem 0;
    }
    
    .text-content p {
        margin: 0 0 3rem 0;
    }
    .text-content h4 {
        font-size: 20px;
        font-weight: 200;
        width: 90%;
    }
    
    .text-content h3 {
        font-size: 30px;
    }
    
    .image-content img {
      width: 200px;
    }

          /* Sticky de cada sección */

          .equipo-container .primero {
            top: 120px;
          }
      
          .equipo-container .segundo {
            top: 190px;
          }
      
          .equipo-container .tercero {
            top: 260px;
          }
      
          .equipo-container .cuarto {
            top: 335px;
          }
      
          .equipo-container .quinto {
            top: 410px;
          }
    }


  /* PROYECTOS - Cada uno de ellos al pinchar (Desde la página proyectos) */

      /* Bloque 1 con el título y foto de la campaña */

    .container-campaingn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8rem 6rem 2rem 6rem;
      margin:  8rem 6rem 2rem 6rem;
      gap: 3rem;
    }

    .container-campaingn img {
      width: 90%;
    }

    .container-campaingn_text {
      text-align: center;
    }

    .container-campaingn_text h3 {
      color: var(--color-orange);
      margin: 0 0 1rem 0;
    }
    .container-campaingn_text p {
      color: var(--color-white);
    }

        /* Historia y detalles sobre la campaña */

    .campaingn_history {
      margin: 5rem;
      padding: 4rem;
      width: 60%;
      color: var(--color-orange);
    }


        /* Ficha técnica de la campaña */

    .campaingn_fichatecnica {
      padding: 0 0 6rem 0;
      width: 80%;
      color: var(--color-white);

      display: flex;
      flex-direction: row;
      justify-content: end;
      text-align: end;
    }


    /* VERSIÓN MÓVIL */

  @media (min-width:250px) and (max-width: 950px) {

          /* Bloque 1 con el título y foto de la campaña */

          .container-campaingn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 4rem 2rem;
            margin: 4rem 0 2rem 0;
          }

          .container-campaingn h3 {
            font-size: 2.6em;
          }
      
          .container-campaingn img {
            width: 100%;
          }

              /* Historia y detalles sobre la campaña */
      
          .campaingn_history {
            margin: 0 2rem 2rem 2rem;
            padding: 0 2rem 2rem 2rem;
            width: 90%;
          }
      
      
              /* Ficha técnica de la campaña */
      
          .campaingn_fichatecnica {
            padding: 1rem 1rem 3rem 1rem;
            width: 100%;
          }
  }

  /* VERSIÓN TABLETs */

  @media (min-width:950px) and (max-width: 1250px) {

    .container-campaingn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 6rem 2rem 2rem 2rem;
      margin:  6rem 2rem 2rem 2rem;
      gap: 3rem;
    }

    .container-campaingn img {
      width: 60%;
    }
    .container-campaingn h3 {
      font-size: 2.6em;
    }
  }



  /*          Página Servicios         */

  /* INTRO PÁGINA SERVICIOS */

  .main-nuestros-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6rem;
    margin: 5rem;
    color: var(--color-orange);
  }

  .main-nuestros-servicios .main-nuestros-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin: 3rem 0 0 0;
  }

  .main-nuestros-servicios .main-nuestros-skills p { /* Cambiar a otra etiqueta, no a porque no es un enlace */
    border: 1px solid var(--color-orange);
    border-radius: var(--btn-border-radius);
    padding: 0.3rem 2rem;
    flex-wrap: nowrap;
  }

    /* VERSIÓN MÓVIL */

    @media (min-width:250px) and (max-width: 750px) {

         .main-nuestros-servicios {
            padding: 6rem 0 3rem 0;
            margin: 5rem 2rem 2rem 2rem;
          }

          .main-nuestros-servicios h2 {
            font-size: var(--mobile-font-size-h2);
          }
    }

    /* VERSIÓN TABLET */

    @media (min-width:750px) and (max-width: 1200px) {

        .main-nuestros-servicios {
            padding: 6rem 0 4rem 0;
            margin: 5rem 2rem 2rem 2rem;
          }

        .main-nuestros-servicios h2 {
            font-size: var(--tablet-font-size-h2);
          }
    }




  /* BOXES */

  .container-boxes {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-orange);
    gap: 2rem;
  }

  .container-text{
    padding: 2rem;
  }

  .boxes  {
    display: flex;
    flex-direction: row;
  }

  .boxes .box {
    border: 1px solid var(--color-orange);
    padding: 15rem 10rem;
    border-radius: 2rem;
    margin: 1rem;
    transition: 0.3s ease-in-out;
  }

  .boxes .box:hover {
    padding: 15rem 15rem;
  }


    /* VERSIÓN MÓVIL */

      @media (min-width:250px) and (max-width: 750px) {

        .container-boxes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          }

          .boxes  {
            display: flex;
            flex-direction: column;
          }
        
          .boxes .box {
   
            padding: 8rem 10rem;
            transition: 0.3s ease-in-out;
          }
        
          .boxes .box:hover {
            padding: 10rem 10rem;
          }
   }

    /* VERSIÓN TABLET */

    @media (min-width:950px) and (max-width: 1300px) {
        
          .boxes .box {
            padding: 11rem 8rem;
            margin: 0.5rem;
          }
        
          .boxes .box:hover {
            padding: 11rem 10rem;
          }
    }

    @media (min-width:750px) and (max-width: 950px) {

          .boxes .box {
            padding: 9rem 6rem;
            margin: 0.5rem;
          }
        
          .boxes .box:hover {
            padding: 9rem 8rem;
          }
    }




  /* Sección QUÉ HACEMOS */

  .container-quehacemos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }

  .container-quehacemos_text h3{
    color: var(--color-orange);
  }
  .container-quehacemos_text p{
    color: var(--color-white);
    padding: 2rem 0;
  }

  .container-quehacemos_text {
    position: relative;
  }

  .container-quehacemos_text a {
    text-decoration: none;
    color: var(--color-orange);
  }

  .container-quehacemos_text a::before { /* Subrayado enlace */
    content: '';
    position: absolute;
    bottom: 0; /* Distancia linea-plabra*/
    left: 0;
    width: 225px; /* Ancho de la línea */
    height: 2px; /* Altura/grosor de la línea */
    background-color: var(--color-orange); /* Color del subrayado */
    transition: 0.3s ease-in-out;
    display: block;
    box-sizing: border-box;
  }

  .container-quehacemos_text a:hover{ /* Subrayado enlace */
        color: #ff9e65;
  }
  .container-quehacemos_text a:hover::before {
    background-color: #ff9e65;
  }

  /* Dentro de la sección "Qué hacemos" -- DESPLEGABLE */

  .container-quehacemos {
    padding: 3rem;
    margin: 5rem 0;
  }

  .container-quehacemos_text {
    width: 35%;
  }
  
  .container-questions {
    margin: 1rem;
    width: 90%;
  }
  
  .desplegable-items {
    margin: 0.5rem 0 0 0;
    cursor: pointer; /* Para indicar que es clickeable */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desplegable-items .item {
    display: none; /* Aún no está activo */
    margin: 0.5rem 0 0.5rem 0; /* Espaciado entre preguntas y respuestas */
  }

  .active .item {
    display: block;
  }

  .desplegable-items .titulo-desplegable {
    padding: 1rem;
    border-radius: 3px; 
    color:  var(--color-orange);
    transition: color 0.3s ease-in-out; /* Añadida transición de color */
  }

  .desplegable-items:hover .titulo-desplegable {
    color: var(--color-white);
    
  }
  
  .desplegable-items:active .titulo-desplegable {
    color: var(--color-white);
    padding: 10px;
    border-radius: 3px;
    transition: none; /* Elimina la transición durante el clic activo */
  }


  .desplegable-items:active .titulo-desplegable {
    color: var(--color-white);
    padding: 10px;
    border-radius: 3px; 
    transition: 0.3s;
  }

  .desplegable-items p {
    color: var(--color-orange);
  }
    
  /* Iconos desplegable */

  .toggle-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .minus-icon {
    display: none;
  }

  .desplegable-items.active .plus-icon {
    display: none;
  }

  .desplegable-items.active .minus-icon {
    display: inline-block;
  }

  .icon {
    margin: 0 0.7rem 0 0; /* Espaciado entre el ícono y el texto de la pregunta */
  }


      /* VERSIÓN MÓVIL */

      @media (min-width:250px) and (max-width: 700px) {

        .container-quehacemos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            margin: 2rem;
          }

          .container-quehacemos_text h3{
            font-size: var(--mobile-font-size-h3);
          }

          .container-quehacemos_text {
            width: 90%;
          }
          .container-quehacemos_text {
            margin: 1rem 1rem 5rem 1rem;
          }
        
          .container-quehacemos_text a::before { /* Subrayado enlace */
            content: '';
            position: absolute;
            bottom: 0; /* Distancia linea-plabra*/
            left: 0;
            width: 230px; /* Ancho de la línea */
            height: 2px; /* Altura/grosor de la línea */
            background-color: var(--color-orange); /* Color del subrayado */
            transition: 0.3s ease-in-out;
            display: block;
            box-sizing: border-box;
          } 
          
        /* Desplegable */

        .container-questions {
            margin: 1rem;
            width: 95% auto;
        }

   }

    /* VERSIÓN TABLET */

    @media (min-width:700px) and (max-width: 1150px) {
        
        .container-quehacemos_text h3{
            font-size: var(--tablet-font-size-h3);
          }

          .container-quehacemos_text {
            width: 60%;
            margin: 1rem 1rem 5rem 1rem;
          }

          .container-quehacemos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding: 3rem;
            margin: 4rem 0;
          }

    }


  /*  CONTENEDOR TEXTO CENTRADO  */

  .container-left {   /*  Alinear contenedor del texto a la derecha  */
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 5rem;
  }

  .container-left_text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: var(--color-orange);
    margin: 5rem;
    padding: 1rem 1rem 1rem ;
  }


  .container-left_text p{
    margin: 2rem 0 0 0;
    color: var(--color-white);
    width: 90%;
  }

      /* VERSIÓN MÓVIL */

      @media (min-width:250px) and (max-width: 700px) {

        .container-left { 
          margin: 0;
        }
      
        .container-left_text {
            padding: 2rem;
            margin: 2rem;
        }

        .container-left-segundo {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;
        }

        .container-left_text h3{
            font-size: var(--mobile-font-size-h3);
        } 

        .container-left_text p{
          width: 100%;
        }
    }

    /* VERSIÓN TABLET */

    @media (min-width:700px) and (max-width: 1150px) {

          .container-left_text h3{
              font-size: var(--tablet-font-size-h3);
          }

          .container-left_text{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            padding: 2rem;
            margin: 1rem;
          }

          .container-left_text {
            padding: 1rem;
            margin: 1rem;
          }

          .container-left-segundo {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
          }
    }


  /* CARROUSEL CAJAS TEXTO - Servicios */
  
  .carrousel-services {
    width: 90% auto;
    max-width: 120em;
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  .carrousel-services .carrousel-services_grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;

    transition: .3s ease;
    transform: translateX(0%);
  }

  .carrousel-services .carrousel-services_text {
    width: calc( 100% / 2 - 2rem );
    min-height: 10vh;
    background-color: var(--color-orange);
    padding: 3rem;
    border-radius: var(--btn-border-radius);
    transition: 0.3s ease;
  }

  .carrousel-services .carrousel-services_text h4{
    color: var(--color-black);
    font-family: 'Anton', sans-serif;
    margin: 0 0 1rem 0;
  }

  .carrousel-services .carrousel-services_text p{
    color: var(--color-black);
  }


  .carrousel-services .carrousel-services_puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .carrousel-services .carrousel-services_puntos li.punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    transition: all 0.4s ease;
    border-radius: 5rem;
    background-color: var(--color-white);
  }

  .carrousel-services .carrousel-services_puntos .punto.activo {
    background-color: var(--color-orange);

  }


    /* VERSIÓN MÓVIL */

    @media (min-width:200px) and (max-width: 800px) {

    
    }






/* PLANES */

.planes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0 5rem;
}

.planes h2 {
  color: var(--color-orange);
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 2rem 0 ;
}

.planes h3 {
  font-size: 1.5em;
}

.planes .planes-todos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  color: var(--color-orange);
  font-style: normal;
  font-weight: 400;

  gap: 1rem;
  max-width: 80%;
}

.planes .primero, .segundo, .tercero {
  display: flex;
  flex-flow: column wrap;
}

.planes img {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 1rem 0 0;
}

.planes-todos .plan .lista1 ul li{
  text-align: center;
  margin: 1rem 0 0 0; 
}

.planes .plan .frase p {
  text-align: center;
}

/* Primer bloque */

.planes .primero {
  border: 1px solid var(--color-orange);
  color: var(--color-white);
}

.planes .primero .titulo {
  flex-flow: row;

  background-color:  var(--color-orange);
  color:  var(--color-black);

  padding: 3rem;
  font-size: 1.25rem;
  line-height: normal;
  text-align: center;
}
.planes .primero .lista1 {
  padding: 3rem;
}

.planes .primero .frase {
  padding: 2.6rem;
}


/* Segundo bloque */

.planes .segundo {
  border: 1px solid var(--color-orange);
  color: var(--color-white);
                  
  transform: translateY(-2rem);
}

.planes .segundo .titulo {
  flex-flow: row;
  background-color: var(--color-orange);
  color: var(--color-black);
  
  padding: 3rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}


.planes .segundo .lista1 {
  padding: 3rem;
}

.planes .segundo .frase {
  padding: 2.6rem;
}

/* Tercer bloque */

.planes .tercero {
  border: 1px solid var(--color-orange);
  color: var(--color-white);
}

.planes .tercero .titulo {
  flex-flow: row;
  background-color: var(--color-orange);
  color: var(--color-black);
  
  padding: 3rem;
  text-align: center;
  font-size: 1.25rem;
}

.planes .tercero .lista1 {
  padding: 3rem;
}

.planes .tercero .frase {
  padding: 2.6rem;
}

 /* Versión móvil  */

@media (min-width:320px) and (max-width: 977px) {
  .planes .segundo {
      transform: none;
  }
}

  


 
















    /* FOOTER */

    /* Contenedor */
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 10rem;
      color: var(--color-black);
      background-color: var(--color-orange);
    }

    /* Bloque de la izquierda */
    .footer_left {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 7rem;
    }

    .footer_left img {
      width: 30%;
    }

    /* Bloque de la derecha */
    .footer_right {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 8rem;
    }

    .footer_right_row {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    .footer_right_row a {
      padding: 0 0 2rem 0;
      transition: 0.3s ease;
    }

    .footer_right_row .footer_right_rrss {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
    }

    /* Solo se aplicará el hover a los que lleven enlace */
    .footer_right .row a:hover {
      color: var(--color-white);
    }

    .footer_right_rrss .svg {
      margin: 1rem 2rem 0 0 ;
    }

    /* VERSIÓN MÓVIL */

    @media (min-width:200px) and (max-width: 600px) {

      /* Contenedor */
      .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
      }

      /* Bloque de la izquierda */
      .footer_left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 0 0 5rem 0;
      }

      .footer_left img {
        width: 50%;
      }

      /* Bloque de la derecha */
      .footer_right {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 1rem;
      }

      .footer_right_row {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
      }

      .footer_right_row a {
        padding: 0 0 2rem 0;
        transition: 0.3s ease;
      }

      /* Solo se aplicará el hover a los que lleven enlace */
      .footer_right .row a:hover {
        color: var(--color-white);
      }

      .footer_right_rrss .svg {
        margin: 2rem 0;
      }
      
    }

        /* VERSIÓN TABLET */
        
    @media (min-width:600px) and (max-width: 1200px) {

            /* Contenedor */
            .footer {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 4rem;
            }
      
            /* Bloque de la izquierda */
            .footer_left {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: end;
              margin: 0 0 5rem 0;
            }
      
            .footer_left img {
              width: 30%;
            }
      
            /* Bloque de la derecha */
            .footer_right {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;
                gap: 3rem;
            }
    
    }


  


 

/*      Página Contactános       */
 
/* FORMULARIO */

.contenedor-formulario {
  max-width: 100vw;
  margin: 8rem 5rem;
  padding: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.contenedor-formulario_text {
  width: 50%;
  color: var(--color-white);
}

.contenedor-formulario_text h3{
  width: 40%;
  color: var(--color-orange);
  font-size: 40px;
  display: flex;
  margin: 0 0 1rem 0;
}

.contenedor-formulario_text_firstp {
  margin: 0 0 10rem 0;
}

.contenedor-formulario_form form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.form-input {  /* La misma clase también para el formulario del final de la HOME */
  height: auto;
  min-height: 2.75rem;
  border-style: none none solid;
  border-width: 1px;
  border-color: var(--color-orange);
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem;
  width: 100%;
}

.textarea {
  border: 1px solid var(--color-orange);
  border-radius: 1rem;
}

.contenedor-formulario_form a {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
  padding: var(--btn-padding);
  
  margin: 1rem 0 0 2rem;
  display: flex;
  justify-content: center;
  transition: .3s ease-in-out;
}

.contenedor-formulario_form a:hover {
  background-color: var(--color-orange);
  color: var(--color-black);
}



  /* VERSIÓN MÓVIL */
          
  @media (min-width:200px) and (max-width: 900px) {

    .contenedor-formulario {
      margin: 6rem 2rem 2rem 2rem;
      padding: 2rem;
    
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    
    .contenedor-formulario_text {
      width: 100%;
    }
    
    .contenedor-formulario_text h3{
      width: 90%;
      margin: 0 0 1rem 0;
    }
    
    .contenedor-formulario_text_firstp {
      margin: 0 0 2rem 0;
      
    }

    .contenedor-formulario_text .small {
      font-size: 17px;
      margin: 0 0 2rem 0;
    }
    
  }


  /* VERSIÓN TABLET */
          
  @media (min-width:900px) and (max-width:1200px) {

    .contenedor-formulario {
      gap: 4rem;
    }
    .contenedor-formulario_text {
      width: 60%;
    }
    .contenedor-formulario_text_firstp {
      margin: 0 0 4rem 0;
    }
    .contenedor-formulario_text .small {
      font-size: 17px;
    }
    
  }







