

<!-- Barra de Navegación / Menú -->
<header>
        <a href="index.html" class="logo" id="logo_color"><img class="logo" src="../assets/img/logo.svg" alt="logo">
        </a>
        <div id="menu-icon">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: #FE7122;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
            <div class="animate"></div>
        </div>
    <nav class="navbar">
        <a class="inicio" href="index.html">Inicio</a>
        <a href="proyectos.html">Proyectos</a>
        <a href="nosotros.html">Nosotros</a>
        <a href="servicios.html">Servicios</a>
        <a class="contacto" href="contacto.html">Contáctanos</a>
    </nav>
</header>