<!-- Barra de navegación -->
<header>    
    <nav class="nav-bar">
        <div class="nav-bar_logo">
            <a class="logo" href="../index.html"><img loading="lazy" src="../assets/img/logo.svg" alt="logo"></a> 
            
        </div>
        <div class="nav-bar_links">
            <a class="none a-nav" href="../proyectos.html">Proyectos</a>
            <a class="none a-nav" href="../nosotros.html">Nosotros</a>
            <a class="none a-nav" href="../servicios.html">Servicios</a>
            <a class="bar_btn" href="#">Contáctanos</a>
            <a class="menu_btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: #FE7122;"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg></a>
        </div>
    </nav>
</header>